:root,
html:not(:fullscreen) {
    scrollbar-width: thin;
}
html:not(:fullscreen).tiyatro.v {
    scrollbar-width: none !important;
    --ytd-toolbar-height: 0 !important;
    --ytd-masthead-height: 0 !important;
}
html:not(:fullscreen).tiyatro.v ytd-app {
    width: 100vw;
    min-width: 100vw;
    scrollbar-width: none;
    --ytd-masthead-height: 0 !important;
}
html:not(:fullscreen).tiyatro.v body:not(.scrolltop) #masthead-container {
    opacity: 0.8;
}
html:not(:fullscreen).tiyatro.v body.scrolltop #masthead-container {
    opacity: 0 !important;
    transition: 0.5s;
}

html:not(:fullscreen).tiyatro.v div#full-bleed-container {
    max-height: 100vh !important;
    min-height: 100vh !important;
    height: 100vh !important;
}

html:not(:fullscreen).tiyatro.v video.video-stream.html5-main-video {
    top: 0 !important;
}
